==
<footer>
    <div class="sct-mid">
        <div class="ft-badge">
            <div class="logo"></div>

            <div class="ftb-block">
                <a class="ftb-link" href="https://2gis.kz/almaty/query/МУИТ/firm/9429940000793107?queryState=center%2F76.909876%2C43.235296%2Fzoom%2F16" target="_blank">{{ 'address_iitu'|lang }}</a>
                <a class="ftb-link" href="tel:+77273308560">+7 (727) 330 85 60</a>

                <p class="creators">Designed by <a href="http://www.skyal.studio" target="_blank">Skyal</a> in Almaty</p>
            </div>
        </div>

        <div class="ft-main">
            <div class="ft-row">
                <div class="ft-col">
                    <h6>{{ 'global_helpful_links'|lang }}</h6>

                    <ul class="ft-list">
                        <li><a class="fl-link" href="https://olymp.iitu.kz">Olymp</a></li>
                        <li><a class="fl-link" href="https://dl.iitu.kz/">{{ 'global_diary'|lang }}</a></li>
                        <li><a class="fl-link" href="http://schedule.iitu.kz/">{{ 'global_schedule'|lang }}</a></li>
                        <li><a class="fl-link" href="http://intc.kz/">{{ 'global_it_college'|lang }}</a></li>
                    </ul>
                </div>

                <div class="ft-col">
                    <h6>{{ 'global_contact_us'|lang }}</h6>

                    <ul class="ft-list">
                        <li><a class="fl-link" href="{{ loc.contacts }}">{{ 'global_contacts'|lang }}</a></li>
                        <li><a class="fl-link" href="">{{ 'global_work_at_iitu'|lang }}</a></li>
                    </ul>
                </div>

                <div class="ft-col">
                    <h6>{{ 'global_follow_us'|lang }}</h6>

                    <div class="ft-social social">
                        {% partial 'social' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>