==
<div class="icon">
    <a class="s-vk" href="https://vk.com/iitu_kazakhstan" target="_blank">
        <i class="icon-vk"></i>
        <span class="visually-hidden">IITU VK group</span>
    </a>
</div>

<div class="icon">
    <a class="s-facebook" href="https://www.facebook.com/IITU.KZ/?fref=nf" target="_blank">
        <i class="icon-facebook"></i>
        <span class="visually-hidden">IITU Facebook profile</span>
    </a>
</div>

<div class="icon">
    <a class="s-twitter" href="https://twitter.com/iitukz" target="_blank">
        <i class="icon-twitter"></i>
        <span class="visually-hidden">IITU Twitter profile</span>
    </a>
</div>

<div class="icon">
    <a class="s-instagram" href="https://www.instagram.com/iitu_kz/" target="_blank">
        <i class="icon-instagram"></i>
        <span class="visually-hidden">IITU Instagram profile</span>
    </a>
</div>